@model RolfWebShop.Models.Product

@{
    ViewBag.Title = "Details";
}

<h1 class="bottom-air-1 product-details-heading">@Model.ProductName</h1>

<div class="row">
    <div class="col-md-4">
        <img class="img-responsive" src="@Model.MainImgUrl" alt="@Model.ProductName" />
    </div>
    <div class="col-md-4">
        @Model.About
    </div>
    <div class="col-md-4">
        <span class="details-price">NOK: @Model.Price</span>
    </div>
</div>
<div class="row">
    <div class="col-md-4"><h3>Leverandør: </h3><p>@Model.Producer.Name</p></div>
    <div class="col-md-4"><h3>Kategori: </h3><p>@Html.ActionLink(Model.Category.Name, "Browse", "Store",  new { id = Model.Category.CategoryId}, null )</p></div>
</div>


<p>   
    @Html.ActionLink("Tilbake", "Index")
</p>
