@model IEnumerable<RolfWebShop.Models.Product>

@{
    ViewBag.Title = "Rolfs butikk";
}

<div class="row">
    <div class="my-jumbo">
        @*<h1 class="text-center">Rolf Kristiansens Helmaxe butikk!</h1>*@
    </div>
</div>
<div class="container">
    <div class="row">
        <h3 id="message"></h3>
        <span id="total"></span>
        <span id="count"></span>
    </div>

    
        
        @{
            var counter = 0;
            
        }
        @foreach (var item in Model)
        {
            if (counter == 0)
            {
                @Html.Raw("<div class='row'>")

            }
            <div class="col-md-3 front-box">
                <div>

                    <h2>@Html.ActionLink(item.ProductName, "Details", new {id = item.ProductId})</h2>
                    <div class="col-md-10 image-wrapper">
                        <img src="@item.MainImgUrl" class="img-responsive" alt=""/>
                    </div>
                    <p class="product-about">@item.About</p>

                    <p>
                        NOK:
                        <span class="price">
                            @{
                                var priceToProduct = item.PriceToProducts.LastOrDefault();
                            }
                            @if (priceToProduct != null)
                            {
                                @priceToProduct.Price
                            }
                        </span>
                    </p>
                    <input type="number" name="numOfProducts" value="1" id="product_@item.ProductId"/>
                    <button class="btn btn-default addToCartBtn" id="@item.ProductId">Legg til</button>
                    @*<p>@Html.ActionLink("Legg i handlekurv", "AddToCart", "ShoppingCart", new { id = item.ProductId }, "")</p>*@
                </div>
            </div>
            counter = counter + 1;
                            if (counter > 3)
                            {
                @Html.Raw("</div>")
                                counter = 0;
                            }
                 
                
            
        }
    
</div>
@section scripts {
    <script>
        $('.addToCartBtn').click(function () {
            var id = $(this).attr("id");
            var number = $('#product_' + id).val();
            
            addToCart(number, id);
        });

        function addToCart(number, id) {
            $.post("/ShoppingCart/AddToCart/",
                // Lager datamodell med produktId og antall:
                {
                    Id : id,
                    Number: number
                    
                })
                   .done(function (data) {
                       console.log(data);
                       console.log("Success");                     
                       $('#message').html(data.Message).fadeOut(2000);
                       
                       
                       window.location.href = "/";

                   })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    alert("Error");
                    //alert(jqXHR.responseText || textStatus);
                    console.error(errorThrown);
                })  
        }

    </script>
    

    }