@model IEnumerable<RolfWebShop.Models.Category>

@{
    ViewBag.Title = "Kategorier";
}

<h2>Kategorier</h2>

<p class="label-danger">@ViewBag.ErrorMessage</p>

<p>
    @Html.ActionLink("Ny kategori", "CreateCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Rediger", "EditCategory", new { id=item.CategoryId }) |
            
            @Html.ActionLink("Slett", "DeleteCategory", new { id=item.CategoryId })
        </td>
    </tr>
}

</table>
