@model RolfWebShop.Models.Product

@{
    ViewBag.Title = "Details";
}


<h1 class="bottom-air-1 product-details-heading">@Model.ProductName</h1>

<p id="message" class="label-danger"></p>

<div class="row">
    <div class="col-md-4">
        <img class="img-responsive" src="@Model.MainImgUrl" alt="@Model.ProductName" />
    </div>
    <div class="col-md-4">
        @Model.About
    </div>
    <div class="col-md-4">
        <span class="details-price">NOK: @Model.Price</span>
    </div>
</div>
<div class="row">
    <div class="col-md-4"><h3>Leverandør: </h3><p>@Model.Producer.Name</p></div>
    <div class="col-md-4"><h3>Kategori: </h3><p>@Html.ActionLink(Model.Category.Name, "Browse", "Store", new { id = Model.Category.CategoryId }, null)</p></div>
</div>

<p>
    @Html.ActionLink("Tilbake", "Index")
   
    <button id="deleteProduct" data-id="@Model.ProductId" class="btn btn-danger">Slett</button>
</p>

@section scripts {

    <script>

        var button = $('#deleteProduct');
        var id = @Model.ProductId;

        button.click(function () {
            var r = confirm("Er du sikker?");
            if (r === true) {
                $.post('/StoreManager/DeleteProduct/' + id)
                .done(function(data) {
                    //console.log(data);
                        deletedOk(data);
                    console.log('Done! Slettet id ' + data);
                }).fail(function(err) {
                    $('#message').html(data.message).fadeOut(3000);
                    console.error(err);
                });
            }                     
        });

        function deletedOk(data) {
            $('#message').html(data.message)
                .delay(5000);
                        
            location.href = "/";

        }


    </script>

}
